@font-face {
   font-family: '方正兰亭细黑';
   font-display: swap;
   src: url('file:///Users/yinghanting/Library/Application%20Support/Mobirise.com/Mobirise/projects/project-2020-03-30_224907/fonts/%E6%96%B9%E6%AD%A3%E5%85%B0%E4%BA%AD%E7%BB%86%E9%BB%91/font.TTF');
}
